.login-container {
	width: 100% !important;
	height: 100%;
	display: grid;
	grid-template-areas: "center-area";
	align-items: center;
	justify-items: center;

	h1,
	b {
		font-size: min(2.5rem, calc(0.9rem + 7vw));
		margin: 2rem 0;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	label {
		padding: 0.3rem 0;
		width: 80%;
		box-sizing: border-box;
	}

	input {
		box-sizing: border-box;
		width: min(15rem, 100%);
		height: 2rem;
		background-color: #060606;
		opacity: 1;
		border: 1px solid #101010;
		border-radius: 1.5rem;
		margin-bottom: 1rem;
		color: white;
		padding: 0rem 1rem;
		font-size: 1rem;
	}

	button {
		width: 10rem;
		height: 2.5rem;
		background-color: #ffffff;
		color: black;
		border: 1px solid #202020;
		border-radius: 1.5rem;
		margin-bottom: 1rem;
		padding: 0rem 1rem;
		font-size: 1rem;
		margin: 1rem 0;
	}
}

@media (max-width: 400px) {
	form {
		scale: 0.8;
	}
}
