.schedule-ct {
	display: grid;
	grid-template-rows: min-content min-content min-content 3.2rem;
	width: 100%;
	height: 100%;
	min-height: 0;
	overflow: auto;

	box-sizing: border-box;

	.edit {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		height: min-content;
		width: 100%;
		min-width: 0;
		padding: 0.5rem 0.5rem;
		box-sizing: border-box;
		gap: 0.5rem;

		input:not(input[type="checkbox"]) {
			appearance: none;
			background-color: transparent;
			border: none;
			outline: 1px solid #2c333a;
			border-radius: 1.5rem;
			height: 1.8rem;
			margin: 0rem 1rem;
			padding: 0 1rem;
			color: white;
			text-align: center;
			font-size: 1rem;
			font-weight: 400;
			transition: all linear 0.1s;
		}

		input:focus:not(input[type="checkbox"]) {
			appearance: none !important;
			outline: 1px solid rgba(258, 204, 86, 1);
		}
		p {
			margin: 0;
		}
	}

	.edit.work-time {
		div {
			display: inline-flex;
			align-items: center;
			margin-left: 1rem;
		}

		.title {
			margin-left: 0;
		}

		div {
			color: #566470;
		}

		input {
			width: 3rem;
			margin: 0 0.5rem;
		}

		.invalid {
			outline: 1px solid red;
		}

		.new {
			outline: 1px solid rgba(258, 204, 86, 1);
		}
	}

	.edit.work-days {
		.add-day {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 1.8rem;
			width: 3rem;
			border: 1px solid #2c333a;
			border-radius: 1.2rem;
			padding: 0 1rem;
		}

		.add-day .icon {
			margin: 0;
			mix-blend-mode: overlay;
			height: 50%;
		}

		.add-day:hover {
			border-color: white;
		}

		.add-day:hover .icon {
			mix-blend-mode: normal;
		}

		.select-day {
			display: inline-flex;
			gap: 0.5rem;
			.select {
				height: 2.5rem;
				width: 17rem;
			}

			.disable {
				opacity: 0.5;
				pointer-events: none;
			}

			.select {
				height: 4.65rem !important;
				width: 5rem !important;
				flex-direction: column;
				text-align: center;
				.options-ct {
					flex-direction: column;
					height: max-content;
					align-items: center;
				}

				.option {
					padding-left: 0;
					padding-right: 0;
				}

				.arrow {
					height: 10%;
					transform: rotate(90deg);
				}
			}
		}

		.actions {
			display: inline-flex;
			margin: 0.2rem 0;
			.add,
			.cancel {
				height: 1.8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 0.5rem;
				margin: 0 0.25rem;
				border-radius: 1.5rem;
				cursor: pointer;
			}

			.add:hover {
				background-color: green;
				color: #1a1e22;
				font-weight: 500;
			}

			.add {
				color: green;
				border: 1px solid green;
			}

			.add.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			.cancel:hover {
				background-color: #566470;
				color: #1a1e22;
				font-weight: 500;
			}

			.cancel {
				color: #566470;
				border: 1px solid #566470;
			}
		}

		.displayYear {
			appearance: none;
			aspect-ratio: 1 / 1;
			height: 1rem;
			outline: 1px solid #2c333a;
			border-radius: 0.2rem;
			margin: 0.5rem;
		}

		.displayYear:checked {
			box-shadow: inset 0 0 0 4px #1a1e22;
			background-color: rgba(258, 204, 86, 1);
		}

		.freeDays,
		.newFreeDays,
		.deletedDays {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.5rem;

			.elem {
				display: flex;
				align-items: center;
				gap: 0 0.5rem;
				height: 1.8rem;
				width: max-content;
				outline: 1px solid #2c333a;
				padding: 0 1rem;
				color: white;
				border-radius: 1.5rem;
				/* margin: 0.5rem 0.5rem 0 0.5rem; */
				font-weight: 200;
				transition: all 0.2s ease-in-out;
			}

			.new {
				outline: 1px solid rgba(258, 204, 86, 1);
			}

			.delete {
				outline: 1px solid rgb(208, 42, 42);
				background-color: #421616;
				color: #f08e8e;
			}

			.elem img {
				display: none;
				height: 40%;
				transform: rotate(45deg);
				opacity: 0.5;
			}

			.elem img:hover {
				opacity: 1;
			}

			.elem:hover img {
				display: unset;
			}
		}
	}

	.freeDays .elem img {
		transform: none !important;
	}

	.edit.service-details {
		height: min-content;
		flex-direction: column;
		width: 100%;
		min-width: 0;
		box-sizing: border-box;
		border-top: 1px solid rgba(258, 204, 86, 0.2);
		align-items: start;
		flex: 0;

		.services {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			flex-wrap: wrap;
		}

		.service {
			display: grid;
			position: relative;
			grid-template-rows: repeat(4, max-content);
			width: max-content;
			min-width: 0;
			box-sizing: border-box;
			height: min-content;
			overflow: auto;
			background-color: #1a1e22;
			border-radius: 1rem;
			padding: 0.5rem 1rem;
			gap: 0.5rem;
		}

		.service div {
			display: grid;
			grid-template-columns: 5rem 1fr;
			height: min-content;
			align-items: center;
			p {
				color: #566470;
			}

			gap: 0.5rem;
		}
		
		input {
			text-align: left !important;
		}

		.service .name input {
			width: 100%;
			max-width: 8rem;
			box-sizing: border-box;
		}

		.service .price input, .service .time input {
			width: 1.3rem
		}

		.icon.delete {
			margin: 0 0.25rem;
			mix-blend-mode: overlay;
		}

		.new {
			outline: 1px solid rgba(258, 204, 86, 1);
		}
	}

	.edit .title {
		height: min-content;
		display: inline-flex;
		align-items: center;
		color: #8796a4 !important;
		margin: 0.5rem 0;
	}

	.icon {
		height: 1.3rem;
		margin: 0 1rem 0 -0.5rem;
	}

	.edit-actions {
		display: inline-flex;

		span {
			padding: 0.5rem 1rem;
			border-radius: 1.5rem;
			margin: 0.5rem;
			font-weight: 400;
			cursor: pointer;
		}

		.cancel-edit {
			outline: 1px solid #ae2f2f;
			color: #ff7373;
			opacity: 0.7;
		}

		.cancel-edit:hover {
			opacity: 1;
			background-color: #421616;
		}

		.save-edit {
			outline: 1px solid rgba(258, 204, 86, 1);
			background-color: rgba(258, 204, 86, 0);
			color: rgba(258, 204, 86, 1);
			transition: all 0.1s linear;
		}

		.save-edit:hover {
			background-color: rgba(258, 204, 86, 1);
			color: rgb(26, 26, 44);
		}

		.saving {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	.edit-actions.disabled {
		display: none;
	}
}

@media (max-width: 400px) {
	.schedule-ct {
		.edit {
			flex-direction: column;
			/* align-items: start; */
		}
		.edit.service-details {
			.service div {
				display: flex !important;
				flex-direction: column;
				align-items: start !important;
			}

			.service div input {
				margin: 0;
			}

			.service {
				padding-bottom: 1rem !important;
			}
		}

		p {
			font-size: 0.8rem;
		}

		input {
			font-size: 0.8rem !important;
		}
	}
}
