.bookings-ct {
	.day-selector {
		display: inline-flex;
		align-items: center;
		position: relative;
	}

	.day-selector img {
		height: 1.5rem;
		margin: 0 0.5rem;
		opacity: 0.2;
		transition: all linear 0.2s;
	}

	.day-selector img:nth-of-type(2) {
		-webkit-transform: scale(-1, -1);
		-moz-transform: scale(-1, -1);
		-o-transform: scale(-1, -1);
		transform: scale(-1, -1);
	}

	.day-selector img:hover {
		opacity: 1;
	}
	.day-slider {
		display: flex;
		align-items: center;
		width: 24rem;
		overflow-y: hidden;
	}

	.day-selector .overlay {
		position: absolute;
		display: block;
		height: 100%;
		width: 88%;
		content: "";
		background-image: linear-gradient(
			90deg,
			rgba(22, 25, 28, 0),
			rgba(22, 25, 28, 1)
		);
		pointer-events: none;
	}

	.day-slider::-webkit-scrollbar {
		display: none;
	}

	.day-selector span {
		padding: 0.2rem 0.8rem;
		text-wrap: nowrap;
		text-transform: uppercase;
		transition: all 0.05s linear;
	}

	.day-selector .selected-day {
		font-size: 1.4rem;
		font-weight: 600;
		color: #fdcc62;
	}
}
