.nav {
	display: inline-flex;
	height: max-content;
	padding: 1rem;
	align-items: center;
}

.nav img {
	height: 55px;
}

.nav h1 {
	padding: 0;
	margin: 0.5rem;
	font-size: 1.5rem;
	font-weight: 500;
}

.admin-ct {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0rem;
	height: 100%;
	overflow: hidden;
}

.admin-ct h1 {
	font-size: 2rem;
	font-weight: 200;
}

.reservations-table {
	background-color: #3e3e3e;
	border-radius: 1rem;
	/*padding: 0.5rem;*/
	max-width: 50rem;
	width: 90%;
	overflow: hidden;
	border: 1px solid #777777;
}

.res-table-days {
	display: inline-flex;
	flex-wrap: nowrap;
	/*overflow-x: hidden;*/
	overflow-y: auto;
	width: 100%;
	padding-bottom: 0.2rem;
	background-color: #212121;
	padding: 0.5rem;
}

.res-table-days span {
	display: inline-flex;
	white-space: nowrap;
	padding: 0.4rem 0.6rem;
	background-color: #4e4e4e;
	border-radius: 0.5rem;
	margin: 0.3rem 0.5rem;
}

.res-table-days span:first-of-type {
	/*margin-left: 0rem;*/
}

.res-table-entries {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	padding: 0.3rem;
}

.data-spinner {
	width: 100%;
	text-align: center;
}

.total-entries {
	font-weight: 400 !important;
	margin: 0.5rem 0rem 0rem 0rem;
	font-size: 1.5rem !important;
	background-color: #212121;
	width: max-content;
	aspect-ratio: 1;
	padding: 1rem;
	border-radius: 2rem;
	margin: 0.5rem;
}

.res-entry-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: start;
	white-space: nowrap;
	padding: 1rem;
	background-color: #212121;
	border-radius: 1rem;
	margin: 0.25rem;
}

.res-entry-info div {
	display: flex;
	flex-direction: column;
	width: 7rem;
	padding: 0rem 1rem;
	box-sizing: border-box;
	justify-content: center;
}

.res-entry-info div p {
	margin: 0;
	white-space: wrap;
	text-align: center;
}

.res-entry-info b {
	text-align: center;
	font-size: 1.2rem;
}
