.page-ct {
	display: flex;
	flex: 1 0;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	height: max-content;
	width: 20rem;
	height: max-content;
	padding: 1rem 0rem;

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: flex;
		background-color: rgba(255, 255, 255, 0);
		color: white;
		font-size: 1.3rem;
		text-decoration: none;
		border: none;
		align-items: center;
		user-select: none;
		cursor: pointer;
		padding: 0.7rem;
		border-radius: 1rem;
		transition: all 0.5s cubic-bezier(0, 1.1, 0.47, 1.01);
	}

	.selected {
		filter: brightness(0) saturate(100%) invert(74%) sepia(59%)
			saturate(387%) hue-rotate(355deg) brightness(100%) contrast(99%);
	}

	li img {
		height: 1.3rem;
		filter: invert(1);
		margin-right: 0.5rem;
	}

	.logo {
		height: 3.7rem;
	}
}

.main-ct {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: #16191c;
	border-radius: 2rem;
	display: grid;
	padding: 2rem;
	/*align-items: center;*/
	justify-content: center;
	border: 1px solid rgba(258, 204, 86, 0.2);
}
