.calendar-ct {
	--font-size: 1.2rem;
	width: min(calc(var(--font-size) * 3.2 * 10.5), 100%);
	display: flex;
	flex-direction: column;
	/*overflow: hidden;*/
	border-radius: 1rem;
	overflow: hidden;
	border: 1px solid #303030;
	margin: 1rem;
}

.day-ct {
	display: inline-flex;
	width: 100%;
	overflow-y: auto;
	font-size: 1.3rem;
	background-color: #101010;
	padding: 0.5rem;
	border-bottom: 1px solid #303030;
}

.day-ct span {
	display: flex;
	white-space: nowrap;
	/*border: 1px solid white;*/
	padding: 0.5rem;
	margin: 0rem 0.2rem;
	border-radius: 1rem;
	transition: all 0.2s linear;
	background-color: #1b1b1b;
}

.day-ct span:hover,
.time-ct p:hover {
	background-color: #252525;
}

.time-ct {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.5rem;
	max-height: 15rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.time-ct p {
	border-radius: 1rem;
	transition: all 0.2s linear;
	align-content: center;
}

.time-ct > p.selected {
	filter: unset;
	background-color: white;
	color: black;
}

.no-free-slot {
	font-size: calc(0.7rem + 1vw) !important;
	text-align: center;
	padding: calc(1rem + 0.5vw) calc(0.5rem + 0.5vw) !important;
}
