.home-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	padding: 0.5rem 3rem;
}

.home-container h1 {
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: right;
	font-size: 80px;
	flex-grow: 1;
	margin: 0;
	line-height: 4.5rem;
	height: 20px;
}

.reserveButton {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.reserveButton a {
	background-color: white;
	color: black;
	padding: 1rem 1.2rem;
	border-radius: 1rem;
	box-shadow: 0px 0.5rem 1.2rem 0rem rgba(255, 255, 255, 0.3);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reserveButton a:hover {
	box-shadow: 0px 0.7rem 1.5rem 0rem rgba(255, 255, 255, 0.6);
}

.fundal-mask {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: -3;
}

.fundal-mask #fundal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(4deg) scale(1);
	width: 105%;
	min-height: 110vh;
	object-fit: cover;
	filter: blur(1rem);
	overflow-y: hidden;
}

#overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	background-image:
		linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
		linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%),
		linear-gradient(0deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
	z-index: -1;
	backdrop-filter: grain(10%);
}

@media screen and (max-width: 1020px) {
	.home-container {
		align-items: center;
	}

	.home-container h1 {
		text-align: center;
		font-size: calc(10px + 4.5vw + 2vh);
		line-height: calc(10px + 4.5vw + 2vh);
	}

	.home-container h1:nth-of-type(2) {
		justify-content: center;
	}

	.home-container h1:last-of-type {
		justify-content: start;
	}

	.reserveButton {
		justify-content: start;
	}

	.reserveButton a {
		font-size: calc(calc(5px + 1vw + 0.2vh));
		min-width: max-content;
	}

	#overlay {
		background-image:
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 0.2) 100%
			),
			linear-gradient(
				45deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.8) 100%
			),
			linear-gradient(0deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
		min-height: 700px;
	}
}

@media (max-height: 700px) {
	.fundal-mask #fundal,
	.fundal-mask,
	#overlay {
		min-height: 1000px;
	}

	.home-container {
		min-height: 500px;
	}
}
