body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: black;
	color: white;
	--window-padding: 70px;
	padding-left: var(--window-padding);
	padding-right: var(--window-padding);
	/*overflow: hidden;*/
}

header {
	height: 100%;
}

html {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	/*overflow: hidden;*/
}

html::-webkit-scrollbar {
	display: none;
}

* {
	font-family: Outfit;
	font-weight: 300;
}

b {
	font-weight: 900;
}

a {
	text-decoration: none;
	color: white;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-height: 100vh;
}
*::-webkit-scrollbar {
	/* 1. Define the width of the scrollbar */
	width: 100%;
	height: 6px; /* Needed if it's a horizontal scrollbar */
}

*::-webkit-scrollbar-track {
	/* 2. Style the background area the scrollbar moves in (the track) */
	background-color: transparent; /* Makes the track background invisible */
	border-radius: 10px; /* Optional: adds a slight curve to the track */
}

*::-webkit-scrollbar-thumb {
	/* 3. Style the actual movable bar (the thumb) */
	background-color: rgba(
		255,
		255,
		255,
		0.2
	); /* A medium grey color for the thumb */
	border-radius: 10px; /* Makes the thumb rounded */
}

*::-webkit-scrollbar-thumb:hover {
	/* 4. Optional: Style on hover for better user experience */
	background-color: rgba(255, 255, 255, 0.4); /* Darker grey when hovering */
}

@media (max-width: 1020px) {
	body {
		--window-padding: 40px;
	}
}
