body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: black;
	color: white;
	--window-padding: 70px;
	padding-left: var(--window-padding);
	padding-right: var(--window-padding);
	/*overflow: hidden;*/
}

header {
	height: 100%;
}

html {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	/*overflow: hidden;*/
}

html::-webkit-scrollbar {
	display: none;
}

* {
	font-family: Outfit;
	font-weight: 300;

	/****************> Variables <*************/

	--font_size_placeholder: 1rem;

	--font_size_title: 3rem;
	--font_size_subtitle: 1rem;

	--font_size_option_title: 0.9rem;
	--font_size_option_sub: 0.7rem;

	--font_size_service_title: 1rem;
	--font_size_service_sub: 0.8rem;

	--option-card_img: 2.5rem;
	--option-card_padding: 0.7rem;

	--input_height: min-content;
	--input_width: 13rem;

	--selector_width: 20rem;
	--selector_height: 3rem;

	--xs_padding: 0.25rem;
	--small_padding: 0.5rem;
	--medium_padding: 1rem;
	--big_padding: 2rem;
	
	--field_icon_size: 1rem;

	--border-radius: 1.5rem;

	--color_white: #ffffff;
	--color_ligth_blue: #66839d;
	--color_yellow: #fdcc62;
	

	/******************************************/
}

b {
	font-weight: 900;
}

a {
	text-decoration: none;
	color: white;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-height: 100vh;
}
*::-webkit-scrollbar {
	/* 1. Define the width of the scrollbar */
	width: 100%;
	height: 6px; /* Needed if it's a horizontal scrollbar */
}

*::-webkit-scrollbar-track {
	/* 2. Style the background area the scrollbar moves in (the track) */
	background-color: transparent; /* Makes the track background invisible */
	border-radius: 10px; /* Optional: adds a slight curve to the track */
}

*::-webkit-scrollbar-thumb {
	/* 3. Style the actual movable bar (the thumb) */
	background-color: rgba(
		255,
		255,
		255,
		0.2
	); /* A medium grey color for the thumb */
	border-radius: 10px; /* Makes the thumb rounded */
}

*::-webkit-scrollbar-thumb:hover {
	/* 4. Optional: Style on hover for better user experience */
	background-color: rgba(255, 255, 255, 0.4); /* Darker grey when hovering */
}

@media (max-width: 1020px) {
	body {
		--window-padding: 20px;
	}
}
