.select {
		display: flex;
		flex-direction: row;
		width: 20rem;
		height: 3rem;
		border: 1px solid #313b44;
		border-radius: 1.5rem;
		margin: 0.25rem 0;
		align-items: center;
	}

	.select .icon {
		height: 35%;
		padding: 0.5rem 1rem;
        border-right: 1px solid #313b44;
        user-select: none;
	}

	.select .arrow {
        height: 30%;
		aspect-ratio: 1 / 1;
        margin: 0.5rem 1rem;
		cursor: pointer;
		opacity: 0.5;
        user-select: none;
	}

	.select .arrow:hover {
		opacity: 1;
	}

	.select .options-ct {
		display: flex;
		flex-direction: row;
		overflow: auto;
		width: 100%;
	}

	.select .options-ct::-webkit-scrollbar {
		height: 4px;
	}

	.select .options-ct::-webkit-scrollbar-thumb {
		width: 30px;
		background: rgba(255, 255, 255, 0.1);
		cursor: pointer;
	}

	.select .option {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding:0.25rem 1rem;
		border-radius: 1.5rem;
		width: 2.55rem;
		height: max-content;
	}

	.select .option:hover p {
		opacity: 1;
	}

	.select .option p {
		margin: 0;
		font-size: 1rem;
		opacity: 0.3;
		transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		text-wrap: nowrap;
		user-select: none;
	}

	.select .option:first-of-type {
		padding-left: 0 !important;
	}

	.select .option.selected p {
		font-weight: 500;
		opacity: 1;
	}