.home-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
}

h1 {
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: right;
	font-size: 60px;
	flex-grow: 1;
	margin: 0;
	line-height: 3.5rem;
	height: 20px;
}

.button {
	display: flex;
	flex-grow: 1;
	/*justify-items: center;*/
	align-items: center;
	color: black;
}

.button p {
	font-weight: 300;
	background-color: white;
	padding: 15px 20px;
	margin: 0;
	border-radius: 17px;
	font-size: 20px;
	opacity: 0.8;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
	transition: all 0.2s linear;
}

.button p:hover {
	display: flex;
	cursor: pointer;
	user-select: none;
	opacity: 1;
	box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.1);
}

.fundal-mask {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: -3;
}

.fundal-mask #fundal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(4deg) scale(1);
	width: 105%;
	min-height: 110vh;
	object-fit: cover;
	filter: blur(1rem);
	overflow-y: hidden;
}

#overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	background-image:
		linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
		linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%),
		linear-gradient(0deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
	z-index: -1;
	backdrop-filter: grain(10%);
}

@media screen and (max-width: 1020px) {
	.home-container {
		align-items: center;
	}

	h1 {
		text-align: center;
		font-size: calc(10px + 4.5vw + 2vh);
		line-height: calc(10px + 4.5vw + 2vh);
	}

	h1:nth-of-type(2) {
		justify-content: center;
	}

	h1:last-of-type {
		justify-content: start;
	}

	.button {
		align-items: start;
		min-width: max-content;
		overflow: visible;
	}

	.button p {
		font-size: calc(3px + 1vw + 0.5vh);
	}

	#overlay {
		background-image:
			linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 0.2) 100%
			),
			linear-gradient(
				45deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.8) 100%
			),
			linear-gradient(0deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%);
		min-height: 700px;
	}
}

@media (max-height: 700px) {
	.fundal-mask #fundal,
	.fundal-mask,
	#overlay {
		min-height: 1000px;
	}

	.home-container {
		min-height: 500px;
	}
}
