body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: black;
	color: white;
	--window-padding: 70px;
	padding-left: var(--window-padding);
	padding-right: var(--window-padding);
	/*overflow: hidden;*/
}

header {
	height: 100%;
}

html {
	height: 100vh;
	width: 100vw;
}

* {
	font-family: Outfit;
	font-weight: 300;
}

b {
	font-weight: 900;
}

a {
	text-decoration: none;
	color: white;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
