.navbar {
	display: inline-flex;
	width: 100%;
	height: max-content;
	flex-direction: row;
	align-items: center;
	z-index: 10;
}

.menu {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	user-select: none;
}

#logo {
	height: 55px;
	align-self: center;
	/*padding-left: 50px;*/
	padding-right: 50px;
	padding: 20px 30px 20px 0px;
	user-select: none;
}

.menu .links a {
	text-decoration: none;
	flex-direction: column;
	width: max-content;
	opacity: 0.7;
	transition: all linear 0.2s;
}

.menu .links a:hover {
	opacity: 1;
}

.menu .links {
	display: inline-flex;
	width: 50ch;
	justify-content: space-between;
}

.meniu-mobile {
	display: none;
}

@media (max-width: 1020px) {
	.navbar {
		justify-content: space-between;
	}

	.links {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: min-content;
		padding-left: auto;
		background-color: black;
		align-items: center;
		justify-items: center;
		max-width: 100%;
	}

	.links a {
		padding: 0.4rem;
		font-size: 1.5rem;
		text-align: centers;
	}

	.menu {
		opacity: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		background-color: black;
		transition: all 0.3s linear;
	}

	.show {
		opacity: 1;
	}

	#logo {
		padding: 20px 0;
		height: calc(35px + 2vw + 0.5vh);
	}

	.meniu-mobile {
		display: block;
		height: calc(15px + 2vw + 0.5vh);
	}
}
